
/* Header */
h1 {
    text-align: center;
    color: black;
    background-color: rgb(188, 218, 238);
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 20px;
}

.header {
  margin-left: auto;
  margin-right: auto;
}

/* Image */
img {
    position: relative;
    height: 400px;
    width: 600px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    

}

/* Text on the image */
h3 {
    position: absolute;
    align-self: center;
    text-align: center;
    color: white;
    left: 0;
    width: 100%;
}

/* Description */
p {
    padding-top: 5px;
  text-align: center;
}


