
/* Separate the questions */
hr {
   width: 100%;
   height: 5px;
   background-color: black;
}

/* ID's for every answer choice */
#brownie {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#ice-cream {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#candy-apple {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#funnel-cake {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#pizza {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#burger {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#mac-cheese {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#fruit-salad {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#hot-chocolate {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#iced-tea {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#apple-cider {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#milkshake {
 height: 200px;    
 width: 200px;
 padding-top: 15px;
}

#halloween {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#christmas {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#easter {
 height: 2o0px;
 width: 200px;
 padding-top: 15px;
}

#july {
 height: 200px;
 width: 200px;
 padding-top: 15px;

}

#blue {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#green {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#red {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#yellow {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#ski {
 height: 200px;
 width: 200px;
 padding-top: 15px;  
}

#garden {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#apple-picking {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#swimming {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#apple-pie {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#cherry-pie {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#pumpkin-pie {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}

#keylime-pie {
 height: 200px;
 width: 200px;
 padding-top: 15px;
}


.col-3 {
 align-items: center;
 border: solid;
 border-color: black;
 padding-bottom: 15px;
 
}

/* Intro */
.heading {
    text-align: center;
}

/* link to home page */
a {
    position: relative;
    left: 50px;
}






