

body {
    background-color: rgb(143, 198, 235);
}
h1 {
    text-align: left;
    color: black;
    background-color: rgb(188, 218, 238);
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
}